h3 {
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
    }
    
    .benefits {
        background-color: black;
        color: white;
      }
    
      .benefits-header {
        margin-bottom: 32px;
        margin-left: 32px;
    }
    
    .benefits-header h3 {
      font-size: 28px;
      margin: 0;
      color: #FAFAFA66;
      font-family: Inter Tight;
      font-size: 16px;;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      
    }
    
    
    .benefits-content {
      padding: 0px 16px 0px 15px;
    }
    
      
      .benefits-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      
      .benefit-card {
        background-color: #242527;
        border-radius: 20px;
        width: 344px;
        height: 270px;
        padding: 24px;
      }
    
      .benefit-icon-box {
        width: 48px;
      height: 48px;
      background-color: #ED3B44;
      display: flex;
      justify-content: center; 
      align-items: center; 
      border-radius: 10px; 
      margin-bottom: 64px;
      }
      
      .benefit-icon {
        fill: transparent;
      }
      
      .benefit-card p {
        margin: 10px 0;
    font-family: Inter Tight;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FAFAFA99;
    
      }
      
      .benefits-button-wrapper {
        margin-top: 32px;
      }
      
      .benefits-button {
        font-family: Inter Tight;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        color: white;
        background-color: black;
        border: 1px solid #FAFAFA33;
        padding: 18px 36px;
        border-radius: 60px;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      
      .benefits-button:hover
      .benefits-button:focus {
        border: 1px solid white;
      }
    
      
      @media (min-width: 768px) {
        .benefits-content {
         padding: 0px 32px;
        }
      
        .benefits-container {
          display: grid;
          gap: 16px;
          max-width: 704px;
          grid-template-columns: repeat(2, 1fr); /* Дві колонки на планшетах */
        }
    
        .benefits-button-wrapper {
          margin-top: 64px;
        }
      }
    
      @media (min-width: 1440px) {
        .benefits {
          background-color: black;
          color: white;
          display: flex;
        }
    
        .benefits-content {
          margin-left: 0;
         }
        
        .benefits-header {
          flex: 1;
        }
        
        .benefits-header h2 {
          font-size: 28px;
          margin-bottom: 10px;
        }
        
        .benefits-header p {
          font-size: 16px;
          line-height: 1.5;
        }
        
        .benefits-content {
          flex: 2;
      }
    }